In [1]:
import numpy as np
import pandas as pd

調度基地資訊

In [2]:
base = pd.read_csv('../current_bases.csv')
base.head()

,License Number,Entity Name,Telephone Number,SHL Endorsed,Building,Street,City,State,Postcode,Type of Base,Latitude,Longitude,Date,Time,Location
0,B03377,JUMPRYDZ LLC,7328392801,No,317,GEORGE ST STE 320,NEW BRUNSWICK,NJ,08901,BLACK CAR BASE,40.493052,-74.442988,07/12/2023,18:00:13,"(40.493052, -74.4429875)"
1,B03281,JARPA TRANSPORTATION CORP.,7186350047,No,2825,THIRD AVENUE SUITE 301,BRONX,NY,10455,BLACK CAR BASE,40.815802,-73.918415,07/12/2023,18:00:13,"(40.8158019, -73.9184149)"
2,B01339,R C AUDUBON SVC INC,2129238787,Yes,2224,AMSTERDAM AVENUE,NEW YORK,NY,10032,LIVERY BASE,40.838228,-73.937654,07/12/2023,18:00:13,"(40.838228, -73.937654)"
3,B03278,GEWESEN TRANSPORTATION CORP.,9739542775,No,175,VARICK STREET,NEW YORK,NY,10014,BLACK CAR BASE,NaN,NaN,07/12/2023,18:00:13,NaN
4,B03109,ROLUX INC,9178652793,No,160-23,ROCKAWAY BOULEVARD SUITE 4,JAMAICA,NY,11434,BLACK CAR BASE,40.710152,-73.792866,07/12/2023,18:00:13,"(40.7101523, -73.7928657)"

In [7]:
base.shape

(825, 15)

In [5]:
active_fhv = pd.read_csv('../fhv_active.csv')
active_fhv.head()

,Active,Vehicle License Number,Name,License Type,Expiration Date,Permit License Number,DMV License Plate Number,Vehicle VIN Number,Wheelchair Accessible,Certification Date,...,Base Name,Base Type,VEH,Base Telephone Number,Website,Base Address,Reason,Order Date,Last Date Updated,Last Time Updated
0,YES,5392883,"DELAROSA,MANUEL,D",FOR HIRE VEHICLE,03/24/2025,NaN,T602431C,4T1BF1FK5HU615813,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
1,YES,5899407,"GOFRAN,,MOHAMMAD,A",FOR HIRE VEHICLE,12/24/2024,NaN,T780997C,1N4CL2AP5AC188628,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
2,YES,5617730,"PHUNTSOK,TENZIN",FOR HIRE VEHICLE,05/14/2025,NaN,T665230C,2T3RWRFV2LW055448,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
3,YES,5807280,"RODRIGUEZVILLAFN,F,A",FOR HIRE VEHICLE,08/29/2023,NaN,T749328C,5NMS1DAJ2MH349431,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25
4,YES,5865513,"TEJADA,TEJADA,M,L",FOR HIRE VEHICLE,05/07/2024,NaN,T769520C,1FMSK8DH7LGC72604,NaN,NaN,...,"UBER USA, LLC",BLACK-CAR,NaN,(646)780-0129,NaN,1515 THIRD STREET SAN FRANCISCO CA 94158,G,NaN,07/12/2023,13:25

In [6]:
active_fhv.shape

(97370, 23)